
body{
background-color: #E8E6E7;
background-size:cover;
}
.logo{
	padding-left: 108px;
}

.profile{
	padding-top:177px; 
}

.click{
	color: #333;
  background-color: #E7E5E6;
  border-color: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: width 2s;
  background-color: transparent;
  text-align: center;  
  border-color:#337AB7; 
}

p {
	display:block;
	padding-top: 12px;
  padding-left: 19px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
 color: #337AB7;
 border-color:#337AB7; 


}

p:hover {
	background-color: #337AB7;
 overflow: visible;
 text-overflow: none;
 white-space: normal;
 width: 300px;
 border-radius:35%;
color:white;

}
   
.profile{
	padding-top: 100px;
}

.banner{
  width: 400px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  bottom: -51px;
 right: -5px;
}

.banner-center{
  z-index: 2;
  position: absolute;
  width: 229px;
  height: 35px;
  background-color: #FFFFFF;
  left: 50px;
  top: 70px;
  text-align: center;
  /*border: 4px solid #CBCBCB;*/
}

.banner-left{
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  top: 105px;
  left: 33px;
 /* border: 4px solid #CBCBCB; */  
}

.banner-rigth{
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  top: 105px;
  left: 262px;
 /* border: 4px solid #CBCBCB;*/
}

.triangle-right{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 34px solid #CBCBCB;
  transform: rotate(-90deg);
  margin-top: 14px;
  margin-left: -14px;

}  
.triangle-left{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 36px solid transparent;
  border-bottom: 18px solid #CBCBCB;
  transform: rotate(-90deg);
  margin-top: 9px;
  margin-left: 8px;
 /* border: 4px solid #CBCBCB;*/
} 

h4{
  color:#823A16; 

}

h2{
text-align: center;

}
.col-md-4{
	width:1250px;
	min-height:812px;
  color:red; 
	
}


.hackers-block{
  width: 771px;
  height: 370px;
  position: relative;
  padding-left: 27px;
  top: 17px;
  background-color: #EEEEEE;
  padding-top: 32px
}


label {
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
  text-align: center;
  width: 234px;
  background-color: #D7D7D7;
}

input[type="radio"] {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 9999;
	cursor: pointer;
}

input[type="radio"]:hover + span {
  background-color:#D7D7D7 ;
	display: block;
}

input[type="radio"]:checked + span{
	background-color: red;
}


input#correct[type="radio"]:checked  + span{
  color: #434F6F;
  background-color: blue;
  font-size: 20px;
  visibility: visible;
  display:block;
}
/*para mostrar quien es el bully */
label img{
 visibility: hidden;
 position: absolute;
 z-index: 9999999;
 right: 231px;
 top: 300px;
}
input#correct[type="radio"]:checked + span + img{
  visibility:visible; 
}